{% extends 'base.html.twig' %}

{% block title %}Bienvenue Sur Le Site Du Neuhof Futsal ⚽️ {% endblock %}

{% block body %}

<section id="mainIntro">

    <div class="txtIntro">

    <h1>#NHF </h1>
    <h2>Futsal</h2>

    </div>

        <div class="homeIntro">

            <h2>Bienvenue Sur Le Site Du Csc Neuhof Futsal</h2>

            <p>Le club NEUHOF FUTSAL N.F. est affilié à la fédération française de Football.<br>Inculquer les valeurs inhérentes à la pratique sportive aux jeunes de 6 à 18 ans, telle est la vocation de la fédération française de Football.<br> Le football a identifié ces valeurs sous le sigle : P.R.E.T.S (le Plaisir, le Respect, l’Engagement, la Tolérance et la Solidarité), et le programme éducatif fédéral propose de leur donner corps dans le cadre des activités du club.</p>
        
        </div>

    
</section>

<section id="homePresentation">

    <div class="textePresentation">

        <h3>Fondateur Du Club</h3>

        <p>À seulement 26 ans, Kenny Tanovan dirige le Neuhof Futsal (D2) d’une main de maître. Investi et passionné, le jeune président a été à l’origine de sa création en 2016.Kenny Tanovan est une figure emblématique du quartier du Neuhof à Strasbourg. Réputée comme étant une zone sensible de la ville, cela n’a pas empêché Kenny de s’y épanouir. Et d’emmener, grâce au sport et l’esprit d’équipe, toute une population derrière lui.</p>
    
    </div>

    <div class="imgPresentation">

        <img src="{{asset('img/9.jpg')}}" class="photo modal-trigger">
        <h4>M. Kenny Tanovan</h3>
        <p> Président Du Club  <p>
    
    </div>

    

    <div class="modal-container">

        <div class="overlay modal-trigger"></div>

            <div class="photoModal">

                <img src="{{asset('img/9.jpg')}}">

            </div>

        </div>

    </div>

</section>


<section id="homeActuContainer">

    <h2> Dernières Actualités Du Club </h2>

        <div id="slideActu">

            {% for actualite in actualites %}

                <div class="slide" style="background-image: url({{ actualite.photoactualite }})">

                <span class="maskTitle">{{ actualite.titreactualite }}</span>
            
                <h3><a href="{{ path('details_actualite', {'id': actualite.id}) }}">{{ actualite.titreactualite }}</a></h3>

                </div>

            {% endfor %}

    </div>

</section>

<section id="sponsorContainer">

    <h2> Nos Sponsors</h2>

        <div class="sponsorRow">

            <div class="sponsor"><a href="https://www.kg5.fr/" target="_blank"><img src="{{asset('img/sponsors/KG5.jpg')}}"></a></div>
            <div class="sponsor"><a href="https://www.prestige-securite-strasbourg.com" target="_blank"><img src="{{asset('img/sponsors/prestige.jpg')}}"></a></div>

        </div>

</section>

{% endblock %}

