{% extends 'base.html.twig' %}

{% block title %}Actualités Du Club ⚽️{% endblock %}

{% block body %}

<div class="detailActuContainer">

        <div class="detailActuWrapper">

                <img src="{{ actualite.photoactualite }}">

                        <div class="textActu">

                                <p> {{ actualite.titreactualite }} </p>
                                <p> {{ actualite.texteactualite }} </p>

                        </div>
        
        </div>

</div>

<div class="commentContainer">

        <div class="commentWrapper">

                {% for comment in actualite.post %}
                        <div class="comments">

                                <p class="commentsText"> {{ comment.textePost }} </p>
                                <p class="userPost"> User : {{ comment.user }} Posté Le : {{ comment.dateCreation|date("d/m/Y") }}</p>
                        
                                {% if comment.user == app.user%}

                                        <a href="{{ path('delete_comment',{'id':comment.id})}}">Supprimer</a> 

                                {% endif %}

                        </div>

                {% endfor %}
        </div>


                {% if app.user %}
                
                        {{ form(formAddPost) }}
                        
                {% endif %}

</div>
{% endblock %}