{% extends 'base.html.twig' %}

{% block title %}Actualités Du Club ⚽️{% endblock %}

{% block body %}

<div class="modal-container">

        <div class="overlay modal-trigger"></div>

        <div class="modal">

                <h2>Ajouter Un Commentaire</h2>

                <button class="close-modal modal-trigger">X</button>

                 <div id="addMessage">

                        {{ form_start(formAddPost) }}

                        <div class="addMessage">

                                {{ form_row(formAddPost.texte_post) }}

                        </div>

                        <div class="ajouter">

                                {{ form_row(formAddPost.ajouter) }}
                                         
                        </div>

                        {{ form_end(formAddPost) }}

                </div>

        </div>
        
</div>

<div class="detailActuContainer">

        <div class="detailActuWrapper">

                <img src="{{ actualite.photoactualite }}">

                        <div class="textActu">

                                <h2> {{ actualite.titreactualite }} </h2>
                                <p> {{ actualite.texteactualite }} </p>

                        </div>
        
        </div>

</div>

<div class="commentContainer">

        {% if app.user %}

                <button class="modal-btn modal-trigger">Ajouter Un Commentaire</button>

                        
        {% endif %}

        <div class="commentWrapper">

                {% for comment in actualite.post %}

                        <div class="comments">

                                <p class="commentsText"> {{ comment.textePost }} </p>

                                        <div class="footComment">

                                                {% if comment.user == null %}

                                                        <span class="userPost">Utilisateur Supprimé</span>

                                                {% else %}

                                                        <span class="userPost"> User : {{ comment.user }} </span>

                                                {% endif %}
                                                
                                                        <span class="userPost">Posté Le : {{ comment.dateCreation|date("d/m/Y") }}</span>

                                                {% if comment.user == app.user and app.user != null %}

                                                        <a href="{{ path('delete_comment',{'id':comment.id})}}"><i class="fa-regular fa-trash-can"></i></a> 
                                                        <a href="{{ path('edit_comment',{'id':comment.id})}}" ><i class="fa-regular fa-pen-to-square"></i></a> 
                                        
                                                {% elseif app.user and is_granted("ROLE_ADMIN") %}

                                                        <a href="{{ path('delete_comment',{'id':comment.id})}}"><i class="fa-regular fa-trash-can"></i></a> 

                                                {% elseif app.user == null %}

                                                        
                    
                                                {% endif %}
</div>
                        </div>

                {% endfor %}
        </div>


</div>
{% endblock %}