{% extends 'base.html.twig' %}

{% block title %}Inscription ⚽️{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section class="login-panel">

    <div class="formRegister">

        <h2>Formulaire D'Inscription</h2>

            {{ form_start(registrationForm) }}

                <div class="formRow">{{ form_row(registrationForm.pseudo) }}</div>

                <div class="formRow">{{ form_row(registrationForm.email) }}</div>

                <div class="formRow">{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }} </div>

                <div class="formRow" id="checkAgree">{{ form_row(registrationForm.agreeTerms,{
                    label: "J'accepte les <a href='/CGU'>Conditions D'utilisation</a>"
                }) }}</div>
                

                <button class="submit-btn" type="submit">S'inscrire</button>
        
            {{ form_end(registrationForm) }}

    </div>
    
</section>
{% endblock %}
