{% extends 'base.html.twig' %}

{% block title %}Liste Des Matchs{% endblock %}

{% block body %}

{% set now = date() %}

<div class="rencontreContainer">

    <div class="tableRencontre">

        <table>

            <tr>
                <th colspan="6"><h2>Matchs Et Résultats</h2></th>
            </tr>

            <tr>
                <th colspan="6"><h3>Matchs Joués A Domicile</h3></th>
            </tr>

            <tr>
                <th colspan="3" ></th>
                <th>Date</th>
                <th>Stade</th>
                <th>Score</th>
            </tr>

                {% for rencontreDom in rencontresDom %}

                    {% if now > rencontreDom.rencontre.daterencontre %}

                        <tr>
                            <td> <img src="{{ rencontreDom.equipe1.logoequipe }}" alt="Logo Equipe"> {{ rencontreDom.equipe1 }} </td>  
                            <td> VS </td>                          
                            <td> <img src="{{ rencontreDom.equipe2.logoequipe }}" alt="Logo Equipe"> {{ rencontreDom.equipe2 }} </td>  
                            <td>{{ rencontreDom.rencontre.daterencontre |date("d-m-Y H:i")}} h</td>
                            <td>{{ rencontreDom.rencontre.stade}}</td>
                            <td>{{ rencontreDom.rencontre.scorerencontre}}</td>
                        </tr>

                    {% else %}

                    {% endif %}
        
                {% endfor %}


            <tr>
                <th colspan="6"><h3>Matchs Joués A L'extérieur</h3></th>
            </tr>

            <tr>
                <th colspan="3" ></th>
                <th>Date</th>
                <th>Stade</th>
                <th>Score</th>
            </tr>

                {% for rencontreExt in rencontresExt %}

                    {% if now > rencontreExt.rencontre.daterencontre %}

                        <tr>
                            <td> <img src="{{ rencontreExt.equipe1.logoequipe }}" alt="Logo Equipe"> {{ rencontreExt.equipe1 }} </td>  
                            <td> VS </td>                          
                            <td> <img src="{{ rencontreExt.equipe2.logoequipe }}" alt="Logo Equipe"> {{ rencontreExt.equipe2 }} </td>  
                            <td>{{ rencontreExt.rencontre.daterencontre |date("d-m-Y H:i")}} h</td>
                            <td>{{ rencontreExt.rencontre.stade}}</td>
                            <td>{{ rencontreExt.rencontre.scorerencontre}}</td>
                        </tr>

                    {% else %}

                    {% endif %}
        
                {% endfor %}

                    <tr>
                        <th colspan="6"><h3>Matchs A Venir A Domicile</h3></th>
                    </tr>

                    <tr>
                        <th colspan="3" ></th>
                        <th>Date</th>
                        <th>Stade</th>
            
                    </tr>

                        {% for rencontreDom in rencontresDom %}

                            {% if now <= rencontreDom.rencontre.daterencontre %}

                                <tr>
                                    <td> <img src="{{ rencontreDom.equipe1.logoequipe }}" alt="Logo Equipe"> {{ rencontreDom.equipe1 }} </td> 
                                    <td> VS </td>                          
                                    <td> <img src="{{ rencontreDom.equipe2.logoequipe }}" alt="Logo Equipe"> {{ rencontreDom.equipe2 }} </td> 
                                    <td>{{ rencontreDom.rencontre.daterencontre |date("d-m-Y H:i")}} h</td>
                                    <td>{{ rencontreDom.rencontre.stade}}</td>
                                </tr>

                            {% else %}

                            {% endif %}
        
                        {% endfor %}


                    <tr>
                        <th colspan="6"><h3>Matchs A Venir A L'extérieur</h3></th>
                    </tr>

                    <tr>
                        <th colspan="3" ></th>
                        <th>Date</th>
                        <th>Stade</th>
            
                    </tr>

                        {% for rencontreExt in rencontresExt %}

                            {% if now <= rencontreExt.rencontre.daterencontre %}

                                <tr>
                                    <td> <img src="{{ rencontreExt.equipe1.logoequipe }}" alt="Logo Equipe"> {{ rencontreExt.equipe1 }} </td> 
                                    <td> VS </td>                          
                                    <td> <img src="{{ rencontreExt.equipe2.logoequipe }}" alt="Logo Equipe"> {{ rencontreExt.equipe2 }} </td> 
                                    <td>{{ rencontreExt.rencontre.daterencontre |date("d-m-Y H:i")}} h</td>
                                    <td>{{ rencontreExt.rencontre.stade}}</td>
                                </tr>

                            {% else %}

                            {% endif %}
        
                        {% endfor %}

    <table>

    </div>

</div>

{% endblock %}
