{% extends 'base.html.twig' %}

{% block title %}{{ equipe.entraineur.nomentraineur}} ⚽️ {% endblock %}

{% block body %}

<section id="entraineurContainer">

  <div class="container">

    <div class="front">

      <div class="inner">

        <div class="top-section">

          <img class="player-photo" src={{ equipe.entraineur.photoentraineur }} alt="Photo De L'entraineur">

        </div>

      </div>

      <div class="bottom-section">

        <img class="club-logo" src="{{asset('img/1.png')}}" alt="club logo">

      </div>

    </div>

    <div class="back">

      <div class="inner">

        <div class="top-section">
         {% if equipe.entraineur.quote is empty %}

          <h2>Ici C'est Neuhof !</h2>

         {% else %}

          <h2>{{ equipe.entraineur.quote}}</h2>

         {% endif %}
         
        </div>
          
      </div>
                 
    </div>

  </div>

  <div class="containerInfoPlayer">

    <div class="infoPlayer">
      
      <h2>{{ equipe.entraineur.nomentraineur}}  {{ equipe.entraineur.prenomentraineur }}</h2>

        <span>{{ equipe.nomequipe}}</span>
        <img src={{ equipe.logoequipe }} alt="Logo De L'équipe">
      
      </div>
     
  </div>

  <div class="animeName">

    <span>@{{ equipe.entraineur.prenomentraineur }}</span>

  </div>

<section>

{% endblock %}
