{% extends 'base.html.twig' %}

{% block title %}Equipe 1{% endblock %}

{% block body %}

<div class="containerLinkTeam">

  <div class="linkTeam" onclick="document.location='{{ path('app_equipe2') }}'"><a href="{{ path('app_equipe2') }}">Effectif De L'équipe 1</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_entraineur2') }}'"><a href="{{ path('app_entraineur2') }}">Entraineur De L'équipe 1</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_rencontre2') }}'"><a href="{{ path('app_rencontre2') }}">Matchs De L'équipe 1</a></div>

</div>

{% endblock %}