{% extends 'base.html.twig' %}

{% block title %}Equipe U-9{% endblock %}

{% block body %}

<div class="containerLinkTeam">

  <div class="linkTeam" onclick="document.location='{{ path('app_equipe2') }}'"><a href="{{ path('app_equipe2') }}">Equipe</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_entraineur2') }}'"><a href="{{ path('app_entraineur2') }}">Entraineur</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_rencontre2') }}'"><a href="{{ path('app_rencontre2') }}">Matchs</a></div>

</div>

{% endblock %}