{% extends 'base.html.twig' %}

{% block title %}Equipe U-11 ⚽️{% endblock %}

{% block body %}

<div class="containerLinkTeam">

  <div class="linkTeam" onclick="document.location='{{ path('app_equipe') }}'"><a href="{{ path('app_equipe') }}">Effectif De L'équipe U-11</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_entraineur') }}'"><a href="{{ path('app_entraineur') }}">Entraineur De L'équipe U-11</a></div>
  <div class="linkTeam" onclick="document.location='{{ path('app_rencontre') }}'"><a href="{{ path('app_rencontre') }}">Matchs De L'équipe U-11</a></div>

</div>

{% endblock %}