{% extends 'base.html.twig' %}

{% block title %}{{ joueur.nomjoueur}}  {{ joueur.prenomjoueur}} ⚽️{% endblock %}

{% block body %}

<section id="containerDetailPlayer">

  <div class="container">

    <div class="front">

      <div class="inner">

        <div class="top-section">

          <img class="player-photo" src={{ joueur.photojoueur }} alt="Photo Du Joueur">

        </div>

      </div>

      <div class="bottom-section">

        <h2>#{{ joueur.numerojoueur}}</h2>
        <img class="club-logo" src="{{asset('img/1.png')}}" alt="club logo">
            
      </div>

    </div>

    <div class="back">

      <div class="inner">

        <div class="top-section">

          <span>Vitesse : {{ joueur.notevitesse}}</span>
          <span>Tir : {{ joueur.notetir}}</span>
          <span>Passe : {{ joueur.notepasse}}</span>
          <span>Défense : {{ joueur.notedefense}}</span>
          <span>Physique : {{ joueur.notephysique}}</span>

        </div>

      </div>

    </div>

  </div>

  <div class="containerInfoPlayer">

    <div class="infoPlayer">
      
      <h2>{{ joueur.nomjoueur}}  {{ joueur.prenomjoueur}}</h2>

        <span>Date De Naissance : {{joueur.datenaissancejoueur |date("m/d/Y")}}</span>
        <span>{{ joueur.equipe.nomequipe}}</span>
        <img src={{ joueur.equipe.logoequipe }} alt="Logo De L'équipe">
      
      </div>
     
  </div>

  <div class="animeName">

    <span>@{{ joueur.prenomjoueur}}</span>

  </div>

</section>

{% endblock %}
