<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="favicon.ico" />
        <link rel="icon" type="image/png" href="img/1.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/teamPage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/actuPage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/rencontrePage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/logRegPage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/homePage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <nav class="nav">

        <div class="containerNav">

            <div class="logo">

                <img onclick="document.location='{{ path('app_home') }}'" src="{{asset('img/1.png')}}" alt="Logo Neuhof Futsal">

                {# <div class="darkToggle">

                    <div class="controlLightMode lightMode" data-mode="light"> </div>
                    <div class="controlDarkMode darkMode" data-mode="dark"> </div>

                </div> #}

                

            </div>

            <div id="mainListDiv" class="main_list">

                <ul class="navlinks">

                    <li><a href="{{ path('app_actualite') }}">Actualités</a></li>
                    <li><a href="{{ path('app_indexTeam') }}">Equipe U-9</a>

                        <ul class="sub-menu">

                            <li> <a href="{{ path('app_equipe') }}">Effectif</a></li>
                            <li> <a href="{{ path('app_entraineur') }}">Entraineur</a></li>
                            <li> <a href="{{ path('app_rencontre') }}">Matchs</a></li>

                        </ul>

                    </li>
                    <li><a href="{{ path('app_indexTeam2') }}">Equipe 1</a>

                        <ul class="sub-menu">

                            <li> <a href="{{ path('app_equipe2') }}">Effectif</a></li>
                            <li> <a href="{{ path('app_entraineur2') }}">Entraineur</a></li>
                            <li> <a href="{{ path('app_rencontre2') }}">Matchs</a></li>

                        </ul>

                    </li>

                    {% if app.user %}

                    <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>

                    {% else %}

                    <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
                    <li><a href="{{ path('app_register') }}">S'inscrire</a></li>

                    {% endif %}

                    {% if app.user and is_granted("ROLE_ADMIN") %}

                    <li><a href="{{ path('admin') }}" onclick="window.open('{{ path('admin') }}', 'Page Admin' ,'height=800, width=1200, top=100, left=100, toolbar=no, ');return false;"><i class="fa-solid fa-toolbox"></i><span>Outils Admin</span></a></li>

                    {% elseif app.user %}

                    <li><a href="{{ path('app_profil', {'id': app.user.id}) }}">Profil</a></li>

                    
                    {% endif %}

                </ul>

            </div>

            <span class="navTrigger">

                <i></i>
                <i></i>
                <i></i>

            </span>

        </div>

        <div class="theme-switch-wrapper">

                    <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                    </label>
                    <div class="infoBulle">
                        <span class='infoText'><i class="fa-regular fa-sun"></i> / <i class="fa-regular fa-moon"></i></span>
                    </div>
                    

        </div>

        
    </nav>

    {% for message in app.flashes('success') %}

        <div class="flashMessageSuccess">

            <p>{{ message }}</p>

        </div>
            
    {% endfor %}

    <body data-theme="dark" >

        {% block body %}

        {% endblock %}
        
    </body>

    <footer>

        <div class="footer">

            <div id="button"><i class="fa-solid fa-angles-up"></i></div>

                <div id="container">

                    <div id="cont">
                        <div class="footer_center">

                            <img src="{{asset('img/1.png')}}" alt="Logo Neuhof Futsal"> 

                            <ul class="wrapperIcon">

                                <li class="icon facebook">
                                    <span class="tooltip">Facebook</span>
                                    <span><a href="https://www.facebook.com/neuhoffutsal/?locale=fr_FR" target="_blank" ><i class="fab fa-facebook-f"></i></a></span>
                                </li>

                                <li class="icon youtube">
                                    <span class="tooltip">Youtube</span>
                                    <span><a href="https://www.youtube.com/channel/UCYkvMXwmuT627DgaP92J-vA?app=desktop&cbrd=1" target="_blank" ><i class="fab fa-youtube"></i></a></span>
                                </li>

                            </ul>   

                        </div>

                        <div class="footer_center">

                            <h3>Nos Services</h3>
                            <a href="{{ path('app_cgu') }}">CGU</a>
                            <a href="{{ path('app_politiqueConfidentialite') }}">Politique De Confidentialité</a>
                            <a href="{{ path('app_planSite') }}">Plan Du Site</a>
                            
                        </div>

                        <div class="footer_center">

                            <h3>Nous Contacter : </h3>
                            <h4><i class="fa-solid fa-phone"></i> 06 60 67 02 48</h4>
                            <h4><i class="fa-solid fa-envelope"></i><a href="mailto:Tanovan.k@gmail.com"> Tanovan.k@gmail.com</a></h4>
                            <h4><i class="fa-solid fa-location-dot"></i> 64 All. Reuss, 67100 Strasbourg</h4>
                            
                        </div>

                        <div class="footer_center">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2641.5722717705285!2d7.7717980766395725!3d48.54142827129095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c95e1254b1af%3A0xccde98642fc7d3bd!2s64%20All.%20Reuss%2C%2067100%20Strasbourg!5e0!3m2!1sfr!2sfr!4v1686060774180!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            
                        </div>

                    </div>

                </div>

        </div>

    </footer>




{% block javascripts %}

    <script src="{{ asset('js/script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

    {# ----------------- SCROLL NAVBAR -----------------  #}

    $(window).scroll(function() {

        if ($(document).scrollTop() > 50) {

            $('.nav').addClass('affix');

        } 
                        
        else {

            $('.nav').removeClass('affix');

    }

    });

    </script>

{% endblock %}


</html>
