<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

        <nav id="topNav">

            <ul>
                <div class="link">

                    <img onclick="document.location='{{ path('app_home') }}'" src="{{asset('img/1.png')}}" alt="Logo Neuhof Futsal">

                    <li> <a href="{{ path('app_actualite') }}">Actualités</a> </li>

                        <div class="dropdown">

                            <li> <a href="{{ path('app_indexTeam') }}">Equipe U-8</a></li>

                                <div class="dropdown-child">

                                    <li> <a href="{{ path('app_equipe') }}">Effectif</a></li>
                                    <li> <a href="{{ path('app_entraineur') }}">Entraineur</a></li>
                                    <li> <a href="{{ path('app_rencontre') }}">Matchs</a></li>

                                </div>

                        </div>

                        <div class="dropdown">

                            <li> <a href="{{ path('app_indexTeam2') }}">Equipe Ad</a></li>

                                <div class="dropdown-child">

                                        <li> <a href="{{ path('app_equipe2') }}">Effectif</a></li>
                                        <li> <a href="{{ path('app_entraineur2') }}">Entraineur</a></li>
                                        <li> <a href="{{ path('app_rencontre2') }}">Matchs</a></li>

                                </div>

                        </div>

                        {% if app.user %}

                            <li> <a href="{{ path('app_logout') }}">Se Déconnecter</a></li>

                        {% else %}

                            <li> <a href="{{ path('app_login') }}">Se Connecter</a></li>
                            <li> <a href="{{ path('app_register') }}">S'inscrire</a></li>

                        {% endif %}

                        {% if app.user and is_granted("ROLE_ADMIN") %}

                                <li> <a href="{{ path('admin') }}" onclick="window.open('{{ path('admin') }}', 'Page Admin' ,'height=800, width=1200, top=100, left=100, toolbar=no, ');return false;">Admin</a></li>
                                
                            {% endif %}
                    
                
                </div>

            </ul>
            
        </nav>


    <body>

        {% block body %}


        {% endblock %}
        

    </body>

    <footer>

        <div class="footer">

            <div id="button"></div>

                <div id="container">

                    <div id="cont">
                        <div class="footer_center">

                                <img src="{{asset('img/1.png')}}" alt="Logo Neuhof Futsal">              
                        </div>

                        <div class="footer_center">

                            <h3>Nos Services</h3>
                            <a href="#">CGU</a>
                            <a href="#">Politique De Confidentialité</a>
                            <a href="#">Protection Des Données Personnelles</a>
                            
                        </div>

                        <div class="footer_center">

                            <h3>Qui Sommes-Nous ?</h3>
                            <h4>Nous Contacter</h4>
                            <h4>Nous Contacter</h4>
                            <h4>Nous Contacter</h4>
                            
                        </div>

                    </div>

                </div>

        </div>

    </footer>




        {% block javascripts %}

            <script src="{{ asset('js/script.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% endblock %}



</html>
