<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

            <nav>
                <ul>
                    <li> <a href="{{ path('app_actualite') }}">Actualités</a> </li>
                    <li> <a href="{{ path('app_equipe') }}">Equipe</a></li>
                    <li> <a href="{{ path('app_equipe2') }}">Equipe2</a></li>
                    <li> <a href="{{ path('app_entraineur') }}">Entraineur</a></li>
                    <li> <a href="{{ path('app_rencontre') }}">Matchs</a></li>
                    {% if app.user %}
                    <li> <a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                    {% else %}
                    <li> <a href="{{ path('app_login') }}">Se Connecter</a></li>
                    <li> <a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                    <li> <a href="{{ path('admin') }}">Admin</a></li>
                </ul>
            </nav>
            
        
{# 
        <div id="bgWrapper">

            <div id="bg"></div>
            <div id="bgBubble"><div class="logoAccueil"> <a href="{{ path('app_home') }}"> <img src="{{asset('img/1.jpg')}}" alt="Logo Neuhof Futsal"></a> </div></div>

        </div>

    </div> #}

</div>


    <body>

        {% block body %}


        {% endblock %}

    <footer class="main-footer">

        <div class="footerContainer">

            <div class="footer-content">
                <div class="footerRow">
                    
                        <div class="logo-widget footer-widget">
                            <figure class="logo-box"><a href="#"><img src="{{asset('img/1.jpg')}}" alt=""></a></figure>
                            <div class="text">
                                <ul class="list">
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                                <li><a href="#">#</a></li>
                            </ul>
                            </div>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    
                    
                        <div class="service-widget footer-widget">
                            <div class="footer-title">Services</div>
                            <ul class="list">
                                <li><a href="#">CGU</a></li>
                                <li><a href="#">Mentions Légales</a></li>
                                <li><a href="#">Protection Des Données Personnelles</a></li>
                                <li><a href="#">Préférences Cookies</a></li>
                                
                            </ul>
                        </div>
                    
                    
                        <div class="contact-widget footer-widget">
                            <div class="footer-title">Contacts</div>
                            <div class="text">
                                <p>Lorem Ipsum, simply dummy text, printing, Chandigarh</p>
                                <p>0004434567</p>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </footer>
    <!-- main-footer end -->
    <div class="footer-bottom">
        <div class="footerContainer">
            <div class="footerRowBotom">
                
                    <div class="copyright"><a href="#">Csc Neuhof</a> &copy; 2023 All Right Reserved</div>
                
                
                    <ul class="footer-nav">
                        <li><a href="#">Conditions D'utilisation</a></li>
                        <li><a href="#">Politique De Confidentialité</a></li>
                    </ul>
                
            </div>
        </div>
    </div>





        {% block javascripts %}

            <script src="{{ asset('js/script.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% endblock %}

    </body>

</html>
